<div class="banner banner-half-page" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.2) 0%, rgba(0,36,61,0.2) 50%), url(<%= @space.photo.file.nil? ? "https://images.unsplash.com/photo-1523527927236-da4036f4f66b" : cloudinary_url(@space.photo) %>); background-position: center;">
  <div class="banner-content">
    <a class="btn btn-primary btn-lg">Share</a>
    <a class="btn btn-primary btn-lg">Bookmark</a>
    <a class="btn btn-primary btn-lg">See pictures</a>
  </div>
</div>

<div class="container spaces">
  <div class="row bottom-margin-sm">
    <div class="col-xs-9">
      <h3><%= @space.name %></h3>
      <h6><%= @space.address %></h6>
      <h6><%= @space.city %>,&nbsp;<%= @space.country %></h6>
      <div>
        <ul>
          <li><%= icon('fas', 'flag') %><%=  @space.capacity %></li>
          <li><%= icon('fas','bath') %><%= @space.bathrooms %></li>
          <li><%= icon('fas','wifi') %><%= @space.wifi ? 'Yes' : 'No' %></li>
          <li><%= icon('fas','broom') %><%= @space.cleaning ? 'Yes' : 'No' %></li>
        </ul>
      </div>
    <div>
      <h5><strong>Description</strong></h5>
      <p><%= @space.description %></p>
    </div>
  </div>
  <div class="col-xs-3 rentals-box">
    <% if user_signed_in? && @space.user == current_user %>
      <%= render 'rented_space_edit_form' %>
    <% elsif user_signed_in?  %>
      <%= render 'rent_space_form' %>
    <% else  %>
      <%=  render 'rent_space_form' %>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-9">
      <div
        id="map"
        style="width: 100%;
        height: 400px;"
        data-markers="<%= @markers.to_json %>"
      ></div>
    </div>
  </div>
</div>
